body {
	font-family: sans-serif;
}

h1 {
	padding-bottom: 1em;
	border-bottom: 1px dashed;
	font-size: 1.5em;
}

th {
	color: #666;
	font-size: .75em;
	font-weight: normal;
	text-align: left;
}
td, th {
	padding-right: 1em;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
