body {
	font-family: monospace;
}

h1 {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAiUlEQVRYhe3V2wqAMAwD0P3/T+uraNrGrIVtNDB0F7cDFh2j09kwF2jeeAnAAqHxBpQArJYG8A75C5CK0lusbJwOYNemAN4PLwkorYHtAVKOAKC1EiCaiwASYgmAVcGzn2gZEQGiuanDvaIsCfMzet6z/RIAujL7hACmsNA17XWxAAQaRr/T+eQGpYDjHSqoGasAAAAASUVORK5CYII=) no-repeat;
	font-size: 1.5em;
	padding: 0 0 .25em 42px;
	line-height: 32px;
}

h1, #msg, #stats {
	border-bottom: 1px dashed #999;
}

h2 {
	font-size: 1.25em;
}

table {
	border-spacing: 0;
}
th {
	color: #666;
	font-weight: normal;
	text-align: left;
}
td, th {
	padding-right: 1em;
}
td.r {
	text-align: right;
}
td.b {
	font-weight: bold;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#blob a {
	color: #999;
	text-decoration: none;
}
#blob a:hover {
	color: blue;
	text-decoration: none;
}
#blob :target {
	color: #333;
}

#msg, #stats {
	padding-bottom: 1em;
}

#diff {
	color: #333;
}
#diff .a, td.a {
	color: #060;
}
#diff .d, td.d {
	color: #900;
}
#diff .f {
	font-weight: bold;
}
#diff .h {
	color: #066;
}
